<%- include('./header') -%>
<body>
    <h1>User Login</h1>
    <form name="form1" method="POST" action="/login">
    <table>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" ></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Submit" ></td>
        </tr>
    </table>
    </form>   
</body>